/* line 1, /Users/frankwang/src/gallery/source/css/style.scss */
* {
  box-sizing: border-box; }

/* line 5, /Users/frankwang/src/gallery/source/css/style.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 10, /Users/frankwang/src/gallery/source/css/style.scss */
html {
  font-size: 62.5%; }

/* line 14, /Users/frankwang/src/gallery/source/css/style.scss */
body {
  padding-top: 50px; }

/* line 18, /Users/frankwang/src/gallery/source/css/style.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #FFF;
  z-index: 400; }
  /* line 26, /Users/frankwang/src/gallery/source/css/style.scss */
  nav .logo {
    float: left;
    position: absolute;
    top: 0;
    left: 25px; }
  /* line 32, /Users/frankwang/src/gallery/source/css/style.scss */
  nav ul {
    float: right;
    position: absolute;
    top: 8px;
    right: 25px; }
  /* line 38, /Users/frankwang/src/gallery/source/css/style.scss */
  nav li {
    float: left;
    display: block; }
    /* line 41, /Users/frankwang/src/gallery/source/css/style.scss */
    nav li a {
      padding: 50px 20px 0 20px;
      color: #888;
      text-transform: uppercase;
      text-decoration: none; }

/* line 50, /Users/frankwang/src/gallery/source/css/style.scss */
.sidebar {
  float: left;
  width: 25%; }

/* line 55, /Users/frankwang/src/gallery/source/css/style.scss */
.gallery {
  position: relative;
  float: left;
  width: 75%; }

/* line 61, /Users/frankwang/src/gallery/source/css/style.scss */
.gallery-selector {
  position: relative;
  padding: 20px;
  background: #CCC;
  border-bottom: 1px solid #FFF; }
  /* line 66, /Users/frankwang/src/gallery/source/css/style.scss */
  .gallery-selector img {
    float: left; }
  /* line 69, /Users/frankwang/src/gallery/source/css/style.scss */
  .gallery-selector .text {
    float: left;
    width: 55%;
    margin-left: 8%; }
  /* line 74, /Users/frankwang/src/gallery/source/css/style.scss */
  .gallery-selector:before {
    display: none;
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-left-color: #16192a;
    border-width: 30px;
    margin-top: -30px;
    z-index: 998; }
  /* line 88, /Users/frankwang/src/gallery/source/css/style.scss */
  .gallery-selector:hover {
    background: #16192a;
    color: #FFF; }
    /* line 91, /Users/frankwang/src/gallery/source/css/style.scss */
    .gallery-selector:hover:before {
      display: block; }

/* line 97, /Users/frankwang/src/gallery/source/css/style.scss */
.column {
  width: 33.333%;
  float: left; }

/* line 102, /Users/frankwang/src/gallery/source/css/style.scss */
.picture {
  position: relative;
  width: 100%;
  /* opacity: 0; */
  /* transition: opacity 0.5s ease; */
  overflow: hidden; }
  /* line 108, /Users/frankwang/src/gallery/source/css/style.scss */
  .picture img {
    width: 100%;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease; }
  /* line 112, /Users/frankwang/src/gallery/source/css/style.scss */
  .picture .fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    text-shadow: 0 0 1px #888;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease; }
    /* line 122, /Users/frankwang/src/gallery/source/css/style.scss */
    .picture .fa-times:hover {
      text-shadow: 0 0 1px #000; }
  /* line 127, /Users/frankwang/src/gallery/source/css/style.scss */
  .picture:hover .caption {
    display: block;
    opacity: 1;
    visibility: visible; }
  /* line 132, /Users/frankwang/src/gallery/source/css/style.scss */
  .picture:hover .fa-times {
    visibility: visible;
    opacity: 1; }
  /* line 138, /Users/frankwang/src/gallery/source/css/style.scss */
  .picture.hover-zoom:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

/* line 144, /Users/frankwang/src/gallery/source/css/style.scss */
.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 50px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out; }

/* line 160, /Users/frankwang/src/gallery/source/css/style.scss */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0;
  z-index: 500; }

/* line 171, /Users/frankwang/src/gallery/source/css/style.scss */
.fa-chevron-circle-left, .fa-chevron-circle-right {
  position: fixed;
  top: calc(50vh - 3rem);
  font-size: 6rem;
  color: #fff;
  text-shadow: 0 0 1px #888;
  z-index: 999; }
  /* line 178, /Users/frankwang/src/gallery/source/css/style.scss */
  .fa-chevron-circle-left:hover, .fa-chevron-circle-right:hover {
    text-shadow: 0 0 1px #000; }

/* line 183, /Users/frankwang/src/gallery/source/css/style.scss */
.fa-chevron-circle-left {
  left: 20px; }

/* line 187, /Users/frankwang/src/gallery/source/css/style.scss */
.fa-chevron-circle-right {
  right: 20px; }

/* line 191, /Users/frankwang/src/gallery/source/css/style.scss */
footer {
  clear: both;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-right: 20px;
  background: #EEE;
  text-align: right; }
